<nav class="nav">
  <a href="/" class="nav-logo">
    <span class="nav-logo-26">26</span>
    <span class="nav-logo-dot"></span>
    <span>Tech Solution</span>
  </a>
  <ul class="nav-links">
    <li><a href="/?cat=Windows">Windows</a></li>
    <li><a href="/?cat=Android">Android</a></li>
    <li><a href="/?cat=macOS">macOS</a></li>
    <li><a href="/?cat=Games">Games</a></li>
    <li><a href="/?cat=Design">Design</a></li>
  </ul>
  <a href="/" class="nav-cta">PAKUA SASA</a>
</nav>
